
# Secrets
eldercare-backend/.env

# Node
eldercare-backend/node_modules/
eldercare-backend/node

# Flutter
ons_app/build/
ons_app/.dart_tool/

# VS Code (optional - recommended)
.vscode/


Local MySQL - ons.session.sql
tatus
*.session.sql

eldercare-backend/uploads/

Ons/
